<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- END BOOTSTRAP  -->
    <!-- VUE.JS  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--END VUE.JS  -->
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css' integrity='sha512-1hsteeq9xTM5CX6NsXiJu3Y/g+tj+IIwtZMtTisemEv3hx+S9ngaW4nryrNcPM4xGzINcKbwUJtojslX2KG+DQ==' crossorigin='anonymous'/>
    <!-- END FONTAWESOME -->
    <title>Music</title>
    <!-- CSS  -->
    <link rel="stylesheet" href="style.css">
    <!--end CSS  -->
</head>
<body>
    <div id="app">
        <h1 class="text-center">Audio </h1>
        <div class="row text-center">
            <div class="col-6 d-flex flex-wrap justify-content-between m-auto mt-5">

                <div v-for="(song, index) in songs" class="card-brand mt-4">
                    <div class="img-card">
                        <img :src="`img/${song.imgLink}`" alt="">
                        <div class="play-sc" @click="song.play ? stopaudio(index) : playme(index)">
                            <i v-if="song.play === false"  class="fa-solid fa-play"></i>
                            <i v-else class="fa-solid fa-stop"></i>
                        </div>
                    </div><br>
                    <span>{{song.band}}</span><br>
                    <span>{{song.title}}</span>
                </div>
            </div>
            <div v-if="currentSong != null" class="currentSong d-flex align-items-center" >
                <div class="currentSongSlide d-infline-block">
                    <img :src="`img/${songs[currentSongBar].imgLink}`" alt=""><br>
                    <span>{{songs[currentSongBar].band}}</span><br>
                    <span>{{songs[currentSongBar].title}}</span>
                </div>
                <div  class="d-inline-block play-tools" >
                    <i class="fa-solid fa-backward"></i>
                    <div class="d-inline-block" @click="songs[currentSongBar].play ? stopaudio(currentSongBar) : playme(currentSongBar)">
                        <i v-if="songs[currentSongBar].play === false"  class="fa-solid fa-play"></i>
                        <i v-else class="fa-solid fa-stop"></i>
                    </div>

                    <i class="fa-solid fa-forward"></i>
                </div>
                <div class="options d-inline-block">
                    
                    <i class="fa-solid fa-volume-high"></i>
                        
                </div>
            </div>
        </div>
        

       
        
    </div>
    <script src="script.js"></script>
</body>
</html>