*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;

}

h1{
    font-weight: bold;
    text-transform: uppercase;
}

#app{
    width: 80%;
    margin: auto;
    height: 100vh;
    color: white;
    padding: 50px;
    position: relative;
}
.card-brand{
    border: 2px solid rgb(117, 110, 122);
    display: inline-block;
    text-align: center;
    border-radius: 21px;
    color: wheat;
    background-color: rgb(61, 58, 66);
    margin: auto;
}

.img-card{
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
}
img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
i{
    color: white;
    font-size: 50px;
}
.play-sc{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.511);
    border-radius: 50%;
    cursor: pointer;
}
.play-sc:hover{
    background-color: black;
}

span{
    font-weight: bold;
    text-transform: capitalize;
}

.currentSong{
    padding: 10px;
    background-color: white;
    position: fixed;
    bottom: 10px;
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    color: black;
}
.currentSong img{
    width: 100px;
}
.currentSong i{
    color: black;
    font-size: 30px;
}
.play-tools{
    width: 50%;
    text-align: center;
}
.currentSongSlide{
    width: 25%;
}
.options{
    width: 25%;
}
.fa-play.currentsong,.fa-stop.currentsong{
    margin: 0 20px ;
}